/* Background color*/
body {
  background-color: #FFD7D7; /* Or use hex codes, RGB, HSL, etc. */
}

/* Font Families */

/* Imperial Script for headings*/
.imperial {
    font-family: 'Imperial Script', cursive;
    text-shadow: 0px 2px 3px rgba(0,0,0,0.08);
    font-weight: 700;
    font-size: 450%;
    color: #3B2F2F;
}

.body-font {
    font-family: 'Merriweather', serif;
    color: #3B2F2F
}


/* Main page */
.btn-primary {
    background-color: #C76B9B;
    color: #F9E3EC;
    border-color: #C76B9B;

    font-size: 1rem;
    border-radius: 10px;
    padding: 10px 30px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
    
}

.btn-primary:hover {
  background-color: #C989A2;
  border-color: #C989A2;

}

#welcomeText {
  text-shadow: 0px 2px 3px rgba(0,0,0,0.08);
}

/* Navbar */
#navTitle  {
    color: #F9E3EC;
}

.nav-link {
    color: #F9E3EC;
}

nav .navbar-brand
{
    font-size: xx-large;
}
.navbar {
  background: linear-gradient(to right, #C76B9B, #cb7ea6)
}


/* Filter */

.filter-title {
    font-family: "Merriweather", serif;
    color: #3B2F2F;
    font-size: 150%;
    
}

.filter-pill { /* pill, rounded corners*/
  border-radius: 900px; 
  font-size: 100%;
  background-color: #C76B9B;
  color: white;
  border: none;

}

.btn-check:checked + .filter-pill {
    background-color: #c398ac;   /*Changes color after selection */
    color: white;
}

.filter-button {
    border-radius: 900px;
    
}

/* Catalog */
.catalogImage{
  width: 80%;
  height: 80%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.dress-card {
  padding-top: 15px;
  height: 100%
}

.card {
  background-color: #FFE6E6;
}


/* For UPLOAD FORM */



form img {
  height: 300px;
  order: 1;
}

form p {
  line-height: 32px;
  padding-left: 10px;
}

form label,
form button {

  background-color: #C76B9B;
  border: 1px #C76B9B;

  padding: 5px 10px;
  border-radius: 900px; 
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);

  font-size: 0.8rem;
  height: auto;
  display: inline-block;
  width: auto;
  cursor: pointer;
}

form label:hover,
form button:hover {
  background-color: #2d5ba3;
  color: white;
}

form label:active,
form button:active {
  background-color: #0d3f8f;
  color: white;
}

.preview ul {
  list-style-type: none;
}

/* For Catalogue*/

form .upload-card {
  width: 50%; 
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
}


/* For Home Page */


.image-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  max-width: 300px;
  margin: 0 auto;
}

.item-container {
  text-align: center;
}

img.item {
  width: 100%;
  height: auto;
}

.caption {
  font-size: 14px;
  text-align: center;
}

#handshakeImage {
  width: 130px;
  height: 130px;
}

#moneyImage {
  width: 130px;
  height: 130px;
}

#dressImage {
  width: 130px;
  height: 130px;
}