/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}


/* Table */

.table {
    --bs-table-color-type: initial;
    --bs-table-bg-type: initial;
    --bs-table-color-state: initial;
    --bs-table-bg-state: initial;
    --bs-table-color: var(--bs-emphasis-color);
    --bs-table-bg: var(--bs-body-bg);
    --bs-table-border-color: var(--bs-border-color);
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: var(--bs-emphasis-color);
    --bs-table-striped-bg: rgba(var(--bs-emphasis-color-rgb), 0.05);
    --bs-table-active-color: var(--bs-emphasis-color);
    --bs-table-active-bg: rgba(var(--bs-emphasis-color-rgb), 0.1);
    --bs-table-hover-color: var(--bs-emphasis-color);
    --bs-table-hover-bg: rgba(var(--bs-emphasis-color-rgb), 0.075);
    width: 100%;
    margin-bottom: 1rem;
    vertical-align: top;
    border-color: var(--bs-table-border-color);
}



/* For UPLOAD FORM */

form img {
  height: 300px;
  order: 1;
}

form p {
  line-height: 32px;
  padding-left: 10px;
}

form label,
form button {
  background-color: #7f9ccb;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px ridge black;
  font-size: 0.8rem;
  height: auto;
}

form label:hover,
form button:hover {
  background-color: #2d5ba3;
  color: white;
}

form label:active,
form button:active {
  background-color: #0d3f8f;
  color: white;
}

.preview ul {
  list-style-type: none;
}


/* For Catalogue*/

table img {
  height: 300px;
  order: 1;
}


/* For Home Page */

/*
Source - https://stackoverflow.com/a
Posted by Rickard Elimää
Retrieved 2025-12-03, License - CC BY-SA 3.0
*/

/*
Source - https://stackoverflow.com/a
Posted by Rickard Elimää
Retrieved 2025-12-03, License - CC BY-SA 3.0
*/

.image-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  max-width: 300px;
  margin: 0 auto;
}

.item-container {
  text-align: center;
}

img.item {
  width: 100%;
  height: auto;
}

.caption {
  font-size: 14px;
  text-align: center;
}

#handshakeImage {
  width: 130px;
  height: 130px;
}

#moneyImage {
  width: 130px;
  height: 130px;
}

#dressImage {
  width: 130px;
  height: 130px;
}