{% extends "layout.html" %}

{% block title %}
    Catalog
{% endblock %}


{% block main %}


    <form action = "/catalog" method = "get">

         <!--Filter between size in dresses -->

        <div class = "card p-3 mb-4">
            <div class = "row">
                <div class = "col-md-6">
                    <h6 class = "filter-title mb-2 body-font">Size</h6>
                    <div class = "d-flex flex-wrap gap-2">
                        {% for size in ["x-small", "small", "medium", "large", "x-large"]%}
                            
                            <input class ="btn-check" type="checkbox" name="size" value="{{ size }}" id ="{{ size }}">
                            <label class="btn btn-outline-secondary btn-sm filter-pill body-font" for="{{ size }}">{{ size }}</label>
                        
                        {% endfor %}
                    </div>
                </div>

                <div class = "col-md-6">
                    <h6 class = "filter-title mb-2 body-font">Color</h6>
                    <div class = "d-flex flex-wrap gap-2">
                        {% for color in ["red", "pink", "blue", "purple", "black", "white", "green", "yellow/gold", "gray/silver", "other"] %}
                            
                            <input class ="btn-check" type="checkbox" name="color" value="{{ color }}" id ="{{ color }}">
                            <label class="btn btn-outline-secondary btn-sm filter-pill body-font" for="{{ color }}">{{ color }}</label>
                        
                        {% endfor %}
                    </div>
                </div>      
            </div>
            <br>
            <div>
                <button class = "btn btn-primary body-font" type="submit">filter!</button>
            </div>
        </div>

            
    </form>

   
    

<!-- Display catalog of dresses only if there are any dresses that match the filters -->
    {% if catalog|length == 0 %}
        <h3>No dresses match the selected filters. Please try different filters.</h3>
    {% else %}

        <div class="container">
            <div class="row">

        <!-- show catalog of dresses -->
                {% for dress in catalog %}
                        <div class = "col-md-4 mb-4">
                            <div class = "card dress-card">
                                <img class = "catalogImage mx-auto d-block" src='{{ dress["image_url"] }}' alt="Dress Image">
                        
                                <div class = "card-body">
                                    <h2 class = "body-font">{{ dress["size"] }}</h2>
                                    <h2 class = "body-font">{{ dress["color"] }}</h2>
                                    <h4 class = "body-font">Posted on: {{ formatTime(dress["time_posted"]) }}</h4>
                                    <br>

                                    <form action = "/selectDress" method = "post">
                                        <input type="hidden" name="dressId" value="{{ dress['id'] }}">
                                        <button class="btn btn-primary" type="submit">Select dress</button>
                                    </form>
                                </div>

                            </div>
                        </div>
                
                {% endfor %}
            </div>
        </div>




        <!--
        <table class = "table table-striped">
            <thead>
                <tr>
                    <th class = "text-start">Size</th>
                    <th class = "text-end">Color</th>
                    <th class = "text-end">Date Posted</th>
                    <th class = "text-end">Image</th>
                </tr>
            </thead>

            <tbody>
                {% for dress in catalog %}
                    <tr>
                        <td class = "text-start"> {{ dress["size"] }}</td>
                        <td class = "text-end"> {{ dress["color"]}}</td>
                        <td class = "text-end"> {{ dress["time_posted"] }}</td>
                        <td class = "text-end"> <img src = '{{ dress["image_url"] }}' ></td>
                        <td>
                            <form action = "/selectDress" method = "post">
                                <input type="hidden" name="dressId" value="{{ dress['id'] }}">
                                <button class="btn btn-primary" type="submit">Select dress</button>
                            </form>
                        </td>
                    </tr>

                {% endfor %}
            </tbody>
        </table>
        -->



    {% endif %}

{% endblock %}
