{% extends "layout.html" %}

{% block title %}
    Holdings
{% endblock %}


{% block main %}
    <table class = "table table-striped">
        <thead>
            <tr>
                <th class = "text-start">Owner</th>
                <th class = "text-end">email</th>
                <th class = "text-end">phone</th>
                <th class = "text-end">Image</th>
            </tr>
        </thead>

        <tbody>
            {% for dress in holdings %}
                <tr>
                    <td class = "text-start"> {{ dress["owner_name"] }}</td>
                    <td class = "text-end"> {{ dress["owner_email"]}}</td>
                    <td class = "text-end"> {{ dress["owner_phone"]}}</td>
                    <td class = "text-end"> <img src = "{{ dress['image_url'] }}" ></td>
                    
                    <td>
                        <form action = "/returnDress" method = "post">
                            <input type="hidden" name="dressId" value="{{ dress['id'] }}">
                            <button class="btn btn-primary" type="submit">Return dress</button>
                        </form>
                    </td>
                    <td>
                        <form action="/messages" method="post" class="mt-2">
                            <input type="hidden" name="receiver_id" value="{{ dress['owner_id'] }}">
                            <input type="hidden" name="dress_id" value="{{ dress['id'] }}">
                            <div class="input-group">
                                <input type="text" name="body" class="form-control" placeholder="Message owner..." required>
                                <button type="submit" class="btn btn-primary btn-sm">Send</button>
                            </div>
                        </form>
                    </td>
                 </tr>

              {% endfor %}
        </tbody>
    </table>




{% endblock %}
