{% extends "layout.html" %}

{% block title %}
    Home Page
{% endblock %}


{% block main %}
    <h1>Welcome to Pocket Quince!</h1>
    <h2>Quinceañera dresses are a key milestone of latina girlhood</h2>

    <!--
    <div class = "row">
        <div class = "col">
            <img src = "/static/money.png" alt = "money icon" >
            Buying a dress can be stressful and expensive
        </div>
        <div class = "col">
            <img src = "/static/money.png" alt = "money icon" >
            We make it easy and affordable
        </div>
    </div>
    -->

<div class="image-container">

  <div class="item-container">
    <img class="item" id = "moneyImage" src="/static/money.png" />
    <p class="caption">buying is stressful and expensive</p>  
  </div>
  
  <div class="item-container">
    <img class="item" id = "handshakeImage" src="/static/handshake.png" />
    <p class="caption">we make it easy and affordable</p>  
  </div>

  <div class="item-container">
    <img class="item" id = "dressImage" src="/static/dressIcon.png" />
    <p class="caption">Rent a dress today!</p>  
  </div>
</div>

<div class = "item-container">
    <a class="btn btn-primary btn-lg" href="/register" role="button">Get Started!</a>
</div>
  
{% endblock %}
