{% extends "layout.html" %}

{% block title %}
    Messages
{% endblock %}

{% block main %}
    <h2 class = "imperial">Inbox</h2>
    
    {%if messages|length == 0 %}
        <h3>No messages yet</h3>
    {%else%}
        
        <div class="container mt-4">
            <div class="row">
                {% for message in messages %}
                <div class="col-md-4 mb-4">
                    <div class="card inbox-card p-2">

                        <div class = "message-header">
                            <div class = "message-header-left">
                                </div class = "message-icon">
                                      <h3 class="body-font">{{ message["sender_name"][0] }}</h3>
                                </div>  

                                <div class = "body-font">
                                    <h3 class="body-font">{{ message["sender_name"] }}</h3>
                                </div>
                            </div>
                        </div>

                        <div class = "message-body">
                            <img class="inboxImg" src="{{ message['image_url'] }}"><br>
                            <div class = "message-bubble body-font">
                                <h3 class="body-font">{{ message["body"] }}</h3>
                            </div>
                        </div>
                        


                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

            
        
            
        
    {% endif %}

{% endblock %}

