{% extends "layout.html" %}

{% block title %}
    Messages
{% endblock %}

{% block main %}
    <h2 class = "imperial">Inbox</h2>

    <!--
    <ul class="list-group">
            {% for message in messages %}
                <li class="list-group-item">
                    <strong>From:</strong> {{ message["sender_name"] }}<br>

                    {% if message["image_url"] %}
                        <img src="{{ message['image_url'] }}"><br>
                    {% endif %}

                    <h3>{{ message["body"] }}</h3>
                </li>
            {% else %}
                <li class="list-group-item">No messages yet.</li>
            {% endfor %}
        </ul>
    -->
    
    {%if messages|length == 0 %}
        <h3>No messages yet</h3>
    {%else%}
        
        <div class="container mt-4">
            <div class="row">
                {% for message in messages %}
                <div class="col-md-4 mb-4">
                    <div class="card inbox-card p-2 text-center">
                    <h3 class="body-font">From: {{ message["sender_name"] }}</h3>
                    <img class="inboxImg" src="{{ message['image_url'] }}"><br>
                    <h3 class="body-font">{{ message["body"] }}</h3>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

            
        
            
        
    {% endif %}

{% endblock %}

